h1{
    color: red;
    font: bold Arial;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
  }
  #myphoto {
    border-radius: 50%;
    margin: 5px 0px 5px 5px;
    max-width: 10%;
    display: inline;
    float: left;
  }
  .elements{
    color:red;
    font: bold Arial;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    animation-name: Morogan Aniela Petronela;
    animation-duration: 3s;
    font-family: Arial, Helvetica, sans-serif;
  }