.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    margin: 60px 70px 70px 70px;
    font: bold 60px Arial, Helvetica, sans-serif;
}   
.flex-container div {
        display: inline;
        width: 100%;
        margin: 40px 20px 20px 40px ;
        max-width: 10%;
        height: 10%;
        border-radius: 50%;
        display:block;
        float: left;
}
.img {
    margin: 100px 70px 60px 100px ;
    max-width: 50%;
    height: 50%;
    border-radius: 50%;
    display:block;
    float: left;
}
h1{
    color: red;
    font: bold 10px Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}
p {
    color:black
}
.subtitle{
    color: red;
    background-color: lightgray;
    font: bold 25px Arial, Helvetica, sans-serif;
    transition: font-size 3s;
}
.subtitle:hover{
    font: bold 30px Arial, Helvetica, sans-serif
}
table {
    margin-left: 20px;
    margin-right: 60px;
    font-size: larger;
    width: 95%;
}
th, td {
    text-align: left;
}
.right{
    text-align: right;
}
ul{
    list-style-type: circle;
}