h1 {
    color:red
} 
  
/* The animation code */
@keyframes  Morogan Aniela Petronela  {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:red; left:200px; top:0px;}
    50%  {background-color:red; left:200px; top:200px;}
    75%  {background-color:red; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  
 