h1{
    color: red;
    font: bold Arial;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
  }
  #myphoto {
    border-radius: 50%;
    margin: 5px 0px 5px 5px;
    max-width: 10%;
    display: inline;
    float: left;
  }
  .elements{
    color:red;
    font: bold Arial;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    transition-property: font-size;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-family: Arial, Helvetica, sans-serif;
  }