p {
    color:black
}
.img {
    margin: 10px 20px 5px 20px ;
    max-width: 10%;
    height: 10%;
    border-radius: 50%;
    display:block;
    float: left;
}
h1{
    color: red;
    font: bold 40px Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}