h3 {
    color:green
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .flex-container div {
    background-color: whitesmoke;
    color: darkgray;
    height: 300px;
    width: 400px;
    margin: 10px;
    font: bold 30px 'Courier New', monospace;
 }