h3 {
    color:green
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}
.flex-container div {
    background-color:lightgray;
    color: darkgray;
    height: 300px;
    width: 400px;
    margin: 10px;
    font: bold 30px 'Courier New', monospace;
    text-decoration: none;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.flex-container div:hover {
    background-color: darkgrey;
    color: black;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }