h3 {
    color:green
}
a:link, a:visited {
    color: green;
    text-decoration: none;
    font-size: 30px;
  }
  a:hover {
    color: rgb(6, 36, 6);
    text-decoration: none;
    font-size: 40px;
  }
  .button{
    background-color: rgb(6, 36, 6);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 1px;
  }
  .style{
    font: bold 20px;
    color:black
  }
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.flex-container div {
    background-color:lightgray;
    color: darkgray;
    height: 300px;
    width: 400px;
    margin: 10px;
    font: bold 30px 'Courier New', monospace;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
} 